[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/link2618/api-gatetway-ms-nestjs.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/link2618/Products-ms-nestjs.git
